.currency-input {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;

  &__field {
    border: none;
    outline: none;
  }

  &__select {
    border: none;
    outline: none;
  }
}